{% extends 'apps/base.html' %}
{% load static %}
{% load custom_tags %}
{% load humanize %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container" style="padding-top: 10px;">
                <div class="content_cart">

                    <div class="content_single-product-nouser">
                        <div class="row">
                            {% for order in orders %}
                                <div class="col-md-4 p-5">
                                    <h3>Mahsulot: {{ order.product.name }}</h3>
                                    <small>Mahsulot narxi: {{ order.product.price|intcomma }} so'm</small>
                                    <p>Soni: {{ order.count }} ta</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}