{% extends 'apps/operators/operator_main.html' %}
{% load static %}
{% block operator_content %}
    <div class="col-md-10" style="margin-left: 16%;">

        <div class="bg-light w-75 m-auto mt-5">

            <form method="GET" action="{% url 'order' %}">
                <div>
                    <p>
                        <label for="id_product">Mahsulot:</label>
                        <select name="product" id="id_product" multiple>
                            {% for order in orders %}
                                <option value="">{{ order.product.name }}</option>
                            {% endfor %}
                        </select>


                    </p>


                    <p>
                        <label for="id_location">Viloyat:</label>
                        <select name="location" id="id_location" multiple>
                            <option value="Viloyatni tanlang">Viloyatni tanlang</option>
                            {% for region in regions %}
                                <option value="tashkent">{{ region.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="id_region">Tuman:</label>
                        <select name="region" id="id_region" multiple >
                            {% for district in districts %}
                                <option value="">{{ district.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <label for="id_name">Mahsulot nomi:</label>
                        <input type="text" name="name" id="id_name" class="form-control">
                    </p></div>
                <input class="btn btn-primary" type="submit" value="Saqlash">
            </form>
            {% for order in orders %}
                <div class="card border-dark mt-5">
                    <div class="card-body">
                        <h2 class="card-title">{{ order.product.name }} - {{ order.product.price }} so'm</h2>
                        <h3 class="card-title text-danger">ZAKAZ ID: #{{ order.id }} </h3>
                        <ul class="text-muted">
                            <li class="">Reklama tarqatuvchi
                                ID: {{ order.stream.user.phone_number|default:"-" }}</li>
                            <li class="">Client: {{ order.user.first_name }} {{ order.user.last_name }} -
                                +9989XXXXXXXX
                            </li>
                            <li class="">Address: Viloyatni tanlang None</li>
                            <li class="">Narxi: {{ order.product.price }} so'm <strong>+ 30000</strong> so'm</li>
                            <li class="">Soni: {{ order.count }}</li>
                            <li class="">Vaqti: {{ order.created_at }}</li>
                            <li class="">Yangilangan vaqti: {{ order.updated_at }}</li>
                            <li class="">Holati: {{ order.get_status_display }}</li>
                        </ul>
                        <a href="{% url 'condition_update' order.pk %}" class="btn btn-primary"
                           style="float: left; margin-right: 10px;">
                            Qabul qilish

                        </a>
                        <form action="/operator/new/hold" method="post">

                            <input type="text" hidden name="order" value="1746827">
                            <input class="btn btn-primary" type="submit" value="Hold"
                                   style="float: right; margin-right: 10px;">
                        </form>
                    </div>
                </div>

            {% endfor %}



            <div class="card-footer bg-light d-flex justify-content-center">
                <div>
                    {% if page_obj.has_previous %}
                        <a class="btn btn-sm btn-falcon-default me-2"
                           href="?page={{ page_obj.previous_page_number }}">
                            <span class="fas fa-chevron-left"></span>
                        </a>
                        <a class="btn btn-sm btn-falcon-default me-2"
                           href="?page={{ page_obj.previous_page_number }}">
                            {{ page_obj.previous_page_number }}
                        </a>
                    {% endif %}
                    <a class="btn btn-sm btn-falcon-default text-primary me-2" href="#">{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                        <a class="btn btn-sm btn-falcon-default me-2" href="?page={{ page_obj.next_page_number }}">
                            {{ page_obj.next_page_number }}
                        </a>
                        <a class="btn btn-sm btn-falcon-default me-2" href="?page={{ page_obj.next_page_number }}">
                            <span class="fas fa-chevron-right"></span>
                        </a>
                    {% endif %}
                </div>
            </div>


        </div>


    </div>
{% endblock %}